* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #320033;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
}

.card-form {
  background: #4b004d;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(126, 108, 108, 0.1);
}

.card-form h2 {
  margin-bottom: 40px;
  text-align: center;
}

.card-form input,
.card-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #4a1343;
  border-radius: 8px;
  font-size: 16px;
}

.card-form textarea {
  height: 50pxpx;
  resize: none;
}

.card-form button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #a74213;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.card-form button:hover {
  background: #b56b10;
}

.cards-container {
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
  color: #222;
}

.card p {
  color: #555;
  margin-bottom: 15px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.edit-btn {
  background: #039900;
}

.delete-btn {
  background: #ff3333;
}
